
/*grid styles for all screen sizes*/
#body{
display:grid;
grid-template-columns:1fr;
grid-template-rows: auto;

}


/*navbar styles */


 nav{
  display:flex;
  width:100%;
  height:200px;
  background-image:url("./assets/images/title-img.jpg");
 background-size:cover;
 background-repeat: no-repeat;
 background-position: center;
justify-content: center;
border-radius: 0 0 25px 25px;

 }
#titlelogo{
  background-color:transparent;
  text-align: center;
  color:#F3CF7A;
  }

#logo{
  width:150px;
  height:150px;
  margin-top: 20px;
 background-color:transparent;
 border-radius:25px;
  }

  /*Header styles*/
#opening{
  background-color:#F3CF7A;
  color:#AA2B1D;
  margin:10px;
  border-radius: 25px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  max-height: fit-content;
  text-align: center;
}
#opening p{
  padding:10px;
}


  /*List styles*/
#listSection {
  background-color: #CC561E;
  color:#F3CF7A;
margin:10px;
border-radius: 25px;
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#listSection form{
  display: flex;
  max-width:450px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}



  /*Recipe card styles*/
#recipeResult{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.recipeCard{
  background-color: #F3CF7A;
  border-radius:25px;
  color:#AA2B1D;
  display:flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin:10px;
  max-height: 500px;
  padding:10px;
  
  
  
}
.recipeCard img{
  margin:10px;
  object-fit: contain;
  
}
.recipeCard ul{
  align-self: flex-start;
}
.recipeCard h3 {
  margin-bottom: 5px;
}
.ingredientsCard{
display:flex;
flex-direction:row;
justify-content: center;
align-items: center;



}
.ingredients{
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ingredients ul{
  list-style: none;
  padding:0;
  margin:10px;
}
.ingredients h4{
  margin-bottom:0;
  margin-top: 5px;
}

  /*footer styles*/

  @media screen and (min-width:792px){
  #body{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto  1.5fr;
  }
  nav{
    grid-column:span 2;
  }
  #opening{
 grid-column:span 2;
  }
  #listSection{
    grid-column: span 2;
  }
  #recipeSection{
   grid-column: span 2;
  }
  #recipeResult{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-template-rows:1fr 1fr 1fr;
  }
  .recipeCard{
    width:85%;
    height:85%;
    margin:auto;
  }
  .recipeCard img{
    max-height:273px;
  }
  footer{
    grid-column:span 2;
  }
}

 @media screen and (min-width:900px){
#recipeResult{
  align-items: center;
  padding:10px;
  grid-template-columns:1fr 1fr 1fr ;
    grid-template-rows:1fr 1fr;
    
}
.recipeCard{
  width:75%;
  height:90%;
  
}
.recipeCard img{
    max-height:300px;
  }
 }