body {
  background-color: #f0f2bd;
  margin: 0;
  overflow-x: hidden;
}
#root {
  background-color: #f0f2bd;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}
:root {
  --primary-color: #4b352a; /*brown*/
  --secondary-color: #b2cd9c; /*green*/
  --highlight-color: #f0f2bd; /*pale green*/
  --alternate-color: #3f2d22;
  --header-font: "Geologica", sans-serif;
  --secondary-font: "Geologica", sans-serif;
}
/*grid styles for all screen sizes*/
#gridContainer {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  margin: 0 auto;
  max-width: 100%;
  box-sizing: border-box;
}
  #gridContainer:has(#fullRecipe) #opening {
  display: none;
}
/*font styles for all sections*/
h1,
h2,
h3 {
  font-family: var(--header-font);
  color: var(--alternate-color);
}
p,
button,
form,
li {
  font-family: var(--secondary-font);
}
img {border-radius:8px;}
/*navbar styles */
nav {
  display: flex;
  width: 100%;
  background: url("./assets/images/nav-image.webp") no-repeat center/cover;
  justify-content: center;
  align-items: center;
}
#logo {
  width: 150px;
  height: 150px;
  background-color: transparent;
  border-radius: 8px;
}
/*Header styles*/
#opening {
  background-color: var(--secondary-color);
  color: var(--alternate-color);
  margin: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 270px;
  text-align: center;
  box-sizing: border-box;
  font-size: 16px;
}
#opening h1 {
  font-size: 25px;
  margin-bottom: 0;
  margin-top:5px;
}
#opening h2,#opening h3 {
  margin:0;
  font-size: 20px;
}
/*class to keep images hidden on smaller screens*/
.hidden {
  display: none;
}
/*div to contain title and paragraph in header and for grid styling */
#textdiv {
  display: flex;
  flex-direction: column;
}
#instructions{
  list-style-position: inside;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
/*styles for image in header*/
#headerImg img {
  width: auto;
  height: auto;
  object-fit: contain;
}
/*List styles*/
#listSection {
  background-color: var(--secondary-color);
  color: var(--alternate-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 270px;
  box-sizing: border-box;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  height: calc(100% - 20px);
}
/*list section form styling*/
#listSection form {
  display: flex;
  max-width: 450px;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 10px;
}
/*styling for input of form*/
form #ingredient {
  height: 30px;
  font-size: 18px;
  border-radius: 8px;
  background-color: var(--highlight-color);
}
form #ingredient:hover {
  background-color: var(--alternate-color);
  color: var(--highlight-color);
}
/*list of ingredients  */

#ingredientsList{
   list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  max-height:auto;
}
/*list section button styles*/
#listSection button {
  background-color: var(--alternate-color);
  color: var(--secondary-color);
  color: var(--highlight-color);
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
#listSection button:hover {
  background-color: var(--highlight-color);
  color: var(--primary-color);
  border: 3px solid var(--alternate-color);
  cursor: pointer;
}
/*Recipe section styles*/
/*styles for We reccomend title and button above recipe cards*/
#sectionHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: fit-content;
  margin: 0 20px 0 20px;
}
#backButton {
  background-color: var(--alternate-color);
  color: var(--highlight-color);
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
#backButton:hover {
  background-color: var(--highlight-color);
  color: var(--alternate-color);
  border: 3px solid var(--primary-color);
  cursor: pointer;
}
/*outer div of recipe section*/
#recipeSection {
  margin-bottom: 0px;
}
/*div to contain recipe cards on render*/

#recipeResult {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  gap: 20px;
  padding: 20px;
  margin: 0 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}
/*Keeps recipe cards looking normal but with button functionality*/
.unbutton {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
}
/*cards containing recipe info*/
.recipeCard {
  box-sizing: border-box;
  background-color: var(--secondary-color);
  border-radius: 4px;
  color: var(--primary-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: auto;
  padding: 0 40px 40px 40px;
  height: 100%;
  width: 100%;
  max-width: 100%;
}
.recipeCard:hover {
  border: 10px solid var(--primary-color);
  cursor: pointer;
}
.recipeCard img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 10px;

}
.recipeCard ul {
  align-self: flex-start;
}
.recipeCard h3 {
  padding: 10px;
  font-size: 20px;
}
.recipeCard h4 {
  font-size: 16px;
}
/*missing ingredients for recipes*/
.missingIngredients {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.missingIngredients ul {
  list-style: none;
  padding: 5px;
  margin: 10px;
}
.missingIngredients h4 {
  margin-bottom: 0;
  margin-top: 5px;
}
main:has(#fullRecipe){
  display:flex;
  align-items: stretch;
}
/*Full recipe styles*/
#fullRecipe{
  background-color: var(--secondary-color);
  display:flex;
  flex-direction: column;
  margin:20px;
  border-radius: 8px;
  grid-row:100%;
}
#fullRecipe:hover{
   border: 10px solid var(--primary-color);
}
#fullRecipe img{
  margin:20px;
  max-width: 100%;
  height: auto;    
  display: block; 

}
#fullRecipe button{
  width:fit-content;
  height: fit-content;
   background-color: var(--alternate-color);
  color: var(--highlight-color);
  margin: 5px;
  padding: 10px;
  border-radius: 8px;
}
#fullRecipe button:hover{
   background-color: var(--highlight-color);
  color: var(--alternate-color);
  border: 3px solid var(--primary-color);
  cursor: pointer;
}
#fullRecipe h3,h4,ol,ul,p{
  margin: 10px;
}
#fullRecipe li {
  padding:3px;
}

/*footer styles*/
footer {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  width: auto;
  height:auto;
}
.footerLogo {
  height: 20px;
  width: auto;
  margin: 5px;
}
footer p {
  font-size: 10px;
  margin-top: 0;
}
.copyright {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
/*seperate styles as screens get larger*/
@media screen and (min-width: 768px) {
  /*grid templates */
  #gridContainer {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows:auto;
  }
  main {
    display: grid;
    grid-column: span 2;
    grid-template-rows: subgrid;
    margin-bottom: 0;
  }
  main:has(#fullRecipe){
  grid-row: 2/4;
}
  nav {
    grid-column: span 2;
  }
  /*header styles and subgrid */
  #opening {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column: span 2;
    grid-template-rows: auto;
    height: auto;
    margin: 20px;
    padding-bottom: 50px;
    font-size: 18px;
  }
  #opening h2 {
    font-size: 30px;
  }
  /*div to contain text in header for grid styles*/
  #textDiv {
    flex-direction: column;
    justify-content: center;
  }
  /*div to contain image in header for grid styles on larger screens*/
  #headerImg {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #headerImg img {
    width: 100%;
    max-height: 225px;
    margin: 20px;
  }
  /*makes images visable for larger screens*/
  .hidden {
    display: block;
  }
  /*nested grid to control flow of picture for tablets and larger*/
  #listSection {
    grid-column: span 2;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 0;
  }
  #listPic {
    margin: 20px;
  }
  #recipeSection {
    grid-column: span 2;
    margin-bottom: 80px;
  }
  #recipeResult {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: 1fr 1fr 1fr;
  }
  .recipeCard {
    width: 90%;
    min-height: 100%;
    margin: auto;
  }
   #fullRecipe{
    flex-direction:row;
    margin-bottom: 20px;
  }
  #fullRecipe img{
    max-width:50%;
    height:50%;
  }
  footer {
    grid-column: span 2;
    align-self:end;
    margin-top:30px ;
    grid-row: 4;
    height: 100%;
  }
 
}
@media screen and (min-width: 900px) {
  /*header styles*/
  #opening {
    font-size: 20px;
  }
  /*recipe styles*/
  #recipeResult {
    align-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    margin: auto;
    align-items: stretch;
  }
  .recipeCard img {
    padding: 20px;
  }
}
/*extra control for xlarge screens */
@media screen and (min-width: 1200px) {
  /*header */
  #opening h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
  }
  #opening p {
    font-size: 25px;
    margin: 0;
  }
  /*recipe section*/
  .recipeCard img {
    padding: 20px;
  }
  .recipeCard h3 {
    font-size: 25px;
    margin:5px;
  }
  .recipeCard h4 {
    font-size: 20px;
    margin:5px;
  }
  .recipeCard li {
    font-size: 25px;
  }
   #fullRecipe{
    width:100%;
  }
}
@media screen and (min-width: 1900px) {
  #logo {
    max-width: 300px;
    height: auto;
    margin: 10px;
    border-radius: 8px;
  }
  /*header section*/
  #opening {
    padding-bottom: 10px;
  }

  #listPic img {
    max-height: 350px;
    width: auto;
  }
  #headerImg img.headerPic {
    max-height: 350px;
    width: auto;
    object-fit: fill;
  }
  #listSection form {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding-top: 10px;
  }
  #listSection li {
    
    font-size: 30px;
   
  }
  button {
    font-size: 30px;
  }
  form input {
    height: 40px;
  }
  form label {
    font-size: 30px;
  }
}
/*box shadow properties from  https://getcssscan.com/css-box-shadow-examples*/
.shadow {
  box-shadow:
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

/*404 page styles*/
.page {
  max-width: 380px;
  padding: 24px;
  border-radius: 12px;
  max-height: fit-content;
  background: #b2cd9c;
}
.page h1 {
  margin: 0 0 12px;
  font-size: 2rem;
}

.page p {
  margin: 0 0 18px;
  line-height: 1.5;
}
.page button {
  display: inline-block;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
  background: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
}
.page a {
  display: inline-block;
  padding: 25px;
  margin: 20px;
  border-radius: 8px;
  background: var(--primary-color);
  text-decoration: none;
  font-weight: 700;
  font-size: larger;
  color: var(--highlight-color);
}

.page a:hover {
  color: var(--alternate-color);
  background-color: var(--highlight-color);
  border: 3px solid var(--primary-color);
  cursor: pointer;
}
